.flash {
  padding: 12px 15px;
  margin: 10px 0;
  border-radius: 6px;
}

.flash-success {
  background: #d1ffd6;
  color: #0b6d1d;
}

.flash-error {
  background: #ffd1d1;
  color: #8b0000;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.main {
  width: 98%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* height: 95%; */
  /* background-color: #1a3d6480; */
  /* border-radius: 20px; */
  /* overflow: auto; */
  padding: 10px;
  /* box-shadow: 0px 4px 4px 5px rgba(0, 0, 0, 0.25); */
}

.navbar {
  width: 100%;
  display: flex;
  background-color: #1a3d6480;
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.25);
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-radius: 30px;
}

.nav-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  object-fit: contain;
}

.right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.nav-profile-info {
  min-width: 140px;
  height: 50px;
  padding: 3px 5px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 24px;
}

.nav-profile-img {
  width: 40px;
  height: 40px;
  object-fit: contain;
  border-radius: 100%;
}

.nav-btn {
  width: 100px;
  height: 50px;
  background-color: red;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 600;
  border: none;
}

.content{
    width: 100%;
    height: 85vh;
    margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow:auto;
}

.filters{
    width: 20%;
    height: 98%;
    background-color: #1A3D6480;
    border-radius: 30px;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.25);
}

.products{
    width: 79%;
    height: 98%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    overflow-x: scroll;
}

.product{
    width: 24%;
    height: 48%;
    min-height: 40%;
    background-color: #1A3D6480;
    border-radius: 30px;
}

.left{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  font-size: 24px;
  font-weight: 600;
}